<section class="products">
  <div class="products_wrapper">
    <div class="products_wrapper_item container">
      <div class="text_products">
        <h3>
          SOLID WOOD PRODUCTS
        </h3>
        <p>
          Oak, beech, ash from <span class="czk">1700 CZK</span> per m3
        </p>
        <button class="btn btn_1">Order</button>
      </div>
      <div class="line"></div>
      <div class="image_products">
        <img class="item_image item-1" src="./img/img/image.jpg" alt="#">
        <img class="item_image item-2" src="./img/img/image1.jpg" alt="#">
        <img class="item_image item-3" src="./img/img/image2.jpg" alt="#">
      </div>
    </div>
  </div>
</section>
