<section class="advantages container">
  <div class="advantsges_wrapper">
    <div class="text_glav_advantages">
      <h3>Advantages working with us</h3>
    </div>
    <div class="img_text_advantages">
      <div class="img_advantages"><img src="./img/img/advantages.png" alt=""></div>
      <div class="text_advantages">
        <p>In-house carpentry production</p>
        <p>We only treat wood with environmentally friendly and safe products</p>
        <p>Prices from the manufacturer, no extra charges</p>
      </div>
    </div>
    <div class="button_advantages">
      <button class="btn btn_2">Receive a consultation</button>
    </div>
  </div>
</section>
