<section class="about_us">
  <div class="about_us_wrapper">
    <div class="about_us_item">
      <div class="img_text_about_us container">
        <div class="text_item">
          <div class="text_glav_about_us">
            <h3>ABOUT US</h3>
          </div>
          <div class="text_about_us">
            <p><span class="bio_cwt">BIO CWT</span> - We manufacture solid wood products according to individual drawings. We make chairs, armchairs, wardrobes, beds and much more in our own workshop, equipped with all the necessary industrial equipment.</p>
          </div>
        </div>
        <div class="img_about_us">
          <img class="img_item_1" src="./img/img/about.png" alt="">
          <img class="img_item_2" src="./img/img/about2.png" alt="">
          <img class="img_item_3" src="./img/img/about3.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
