<section class="questions container">
  <div class="questions_wrapper">
    <div class="text_glav_questions">
      <h3>Any questions?</h3>
    </div>
    <div class="questions_item">
      <div class="input_item_questions">
        <form action="#" method="get">
          <input class="input input_item" type="text" placeholder="Your name">
          <input class="input input_item" type="tel" placeholder="Your telephone number">
          <textarea class="input textarea" name="text" placeholder="Your question"></textarea>
        </form>
        <button class="btn btn_3">Send</button>
      </div>
      <div class="text_item_questions">
        <p>Write to us and we will be sure to answer all your questions and give you a comprehensive consultation.</p>
      </div>
    </div>
  </div>
</section>
