<section class="contact container">
  <div class="contact_wrapper">
    <div class="contact_item">
      <div class="text_left_item">
        <div class="text_glav_contact">
          <h3>Contact</h3>
        </div>
        <div class="tel_footer">
          <img src="./img/icon/phone.svg" alt="">+420 000 000 000
        </div>
        <div class="geo_footer">
          <img src="./img/icon/geo.svg" alt=""><p>Na Plzeňce 1166/0
          150 00</p>
        </div>
      </div>
      <div class="image_contact_item">
        <img src="./img/map/MAP.png" alt="#">
      </div>
    </div>
  </div>
</section>
