<footer class="footer">
  <div class="image_questions">
  </div>
  <div class="wrapper_footer">
    <div class="wrapper_item_footer container">
      <div class="footer_item">
        <div class="logo_footer"><img src="./img/logo/logo.png" alt=""></div>
        <div class="tel_footer"><img src="./img/icon/phone.svg" alt="">+420 000 000 000</div>
        <div class="geo_footer"><img src="./img/icon/geo.svg" alt=""><p>Na Plzeňce 1166/0
          150 00</p></div>
        </div>
        <div class="privacy_footer container">Privacy Policy</div>
    </div>
  </div>
</footer>
